<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog frontEnd</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <nav>
        <a href="#" class="title">My Blog</a>
        <a href="#" id="login_btn">Login / Register</a>
    </nav>
    <aside class="login_container">
        <form class="login_frm">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <div class="login_frm_btns">
                <button>Register</button>
                <button>Login</button>
            </div>
        </form>
    </aside>
</body>
</html>